/* ANDREAS */
body{
    width:100%;
    background-color:rgb(255,255,255);
    color:black;
    margin:0;
}

header{
    padding:10px;
    height: 70px;
    position: relative;
    border-bottom: 1px solid rgb(200,200,200);
}

header img{
    margin-top:10px;
}

nav{
    float:right;
    width:50%;
    margin-right:50px;
}

nav ul li{
    list-style:none;
    float:right;
    margin-top:10px;
    margin-right:30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: underline;
}

#active{
    text-decoration: underline;
    color:gray;
}

#landing{
    background-image: url(images/landing.jpg);
    background-position: center;
    background-repeat: none;
    background-size:cover;
    height:700px;
    /*Billede er hentet fra google den 25 sep. 2020: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ceramicarondine.it%2Fit%2Fguida-allo-stile%2Fil-sistema-ncs-un-viaggio-nel-colore%2F&psig=AOvVaw3i2adseDIR4pls27RcSSNa&ust=1601560159668000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIiqmNiCkewCFQAAAAAdAAAAABAT */
}

#landing h1{
    display:inline-block;
    text-align: center;
    font-size:100px;
    color:white;
}

/* ANDREAS SLUT */


/* MAJA */
#Team{
    background-image: url(images/colour-contrast-banner-2.png);
    background-position: center;
    background-repeat: none;
    background-size:cover;
    height:250px;
    text-align: center
        color:White 
    
/* MAJA SLUT */
}