/*Start by Kasper*/

#wholeAboutUsPage {
    background-image: linear-gradient( #dce400, #f8ffa2);
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.projectListItem {
    font-weight: bold;
    font-size: larger;
    width: 100%;
}

.projectLeft {
    width: 40%;
    display: inline-block;
}

.projectRight {
    width: 40%;
    display: inline-block;
    padding-left: 20px;
    text-align: left;
}

.projectImg {
    height: 150px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.project {
    border: black solid 1px;
    border-radius: 25px;
    padding: 10px;
    height: 250px;
    width: 40%;
    display: inline-block;
    margin: 10px;
    background-color: white;
}

#projectsDiv {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}


/* End by Kasper*/